.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.likeBtn {
  background-color: white;
  border-radius: 7px;
  border: 1px solid gray;
  position: absolute;
  height: 30px;
}

.likeBtn-clicked {
  background-color: darksalmon;
}

.likeBtn:hover {
  background-color: darksalmon;
}

.dislikeBtn {
  background-color: white;
  border-radius: 7px;
  border: 1px solid gray;
  position: absolute;
  top: 32px;
  height: 30px;
}

.dislikeBtn:hover {
  background-color: rgb(38, 172, 209);
}

.imgSpan {
  position: relative;
}
